/* line 3, main.scss */
:root, .light-theme {
  --bg-color: #f9f9f9;
  --text-color: #444;
  --link-color: #03a9f4;
  --head-bg-panel: #212121;
  --head-text-color: #fff;
  --code-bg-color: rgba(0,0,0,0.04);
  --code-text-color: inherit;
  --content-font-size: 18px;
  --content-line-height: 36px;
  --search-panel-bg-color: #fff;
  --search-panel-shadow: 0 0 2px rgba(0,0,0,.2);
  --search-panel-shadow-fixed: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  --search-text-color: #434343;
  --grid-header-text-color: #555;
  --grid-text-color: #555;
  --grid-border-top: 1px solid rgba(0,0,0,0.08);
  --no-result-text-color: #666;
  --item-border: 2px solid transparent;
  --item-border-hover: 2px solid transparent;
  --item-border-active: 2px solid #03a9f4;
  --item-bg-hover: #f2f2f2;
  --item-bg-active: transparent;
  --item-badge-bg-color: #fe6363;
  --item-badge-text-color: #fff;
  --item-icon-color: #555;
  --item-text-color: var(--item-icon-color);
  --item-search-match-bg-color: #FFFF4F;
  --item-search-match-text-color: var(--item-text-color);
  --snackbar-header-text-color: #fff;
  --snackbar-header-bg-color: #03a9f4;
  --snackbar-body-bg-color: #eee;
  --snackbar-code-text-color: #434343;
  --snackbar-content-shadow: 0 -2px 5px rgba(0,0,0,.1);
  --snackbar-title-text-color: #03a9f4;
  --snackbar-comment-text-color: #434343;
  --snackbar-content-padding: 0;
  --snackbar-font-bg-color: rgba(0,0,0,0.08);
  --footer-bg-color: #eee;
  --grid-container-margin: 25px;
  --grid-block-margin: 15px;
  --grid-item-margin: 0px;
  --grid-item-margin-bottom: 0px;
  --grid-item-padding: 6px;
  --grid-item-width: 90px;
  --container-padding: 25px;
  --sidebar-link-color: #444;
  --sidebar-link-active-color: #03a9f4;
  --sidebar-link-hover-bg-color: rgba(0,0,0,0.05);
  --sidebar-bg-color: #f1f1f1;
  --sidebar-border-color: #e0e0e0; }

/* line 56, main.scss */
.dark-theme {
  --dark2: #0d1117;
  --dark1: #141921;
  --bg-color: var(--dark1);
  --head-bg-panel: var(--dark1);
  --search-panel-bg-color: var(--dark2);
  --footer-bg-color: var(--dark2);
  --snackbar-body-bg-color: var(--dark2);
  --text-color: #c9d1d9;
  --head-text-color: #c9d1d9;
  --item-icon-color: #c9d1d9;
  --code-bg-color: rgba(255,255,255,0.04);
  --snackbar-comment-text-color: #ccc;
  --link-color: #07b1ff;
  --code-text-color: inherit;
  --search-panel-shadow: 0 0 2px rgba(0,0,0,.2);
  --search-panel-shadow-fixed: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  --search-text-color: #f0f6fc;
  --grid-header-text-color: #f0f6fc;
  --grid-text-color: #c9d1d9;
  --grid-border-top: 1px solid rgba(255,255,255,0.06);
  --no-result-text-color: #f0f6fc;
  --item-border-active: 2px solid #03a9f4;
  --item-bg-hover: rgba(255,255,255,0.05);
  --item-badge-bg-color: #fe6363;
  --item-badge-text-color: #fff;
  --item-text-color: var(--item-icon-color);
  --item-search-match-bg-color: #0089ff;
  --item-search-match-text-color: var(--item-text-color);
  --snackbar-header-text-color: #fff;
  --snackbar-header-bg-color: #0089ff;
  --snackbar-code-text-color: #f0f6fc;
  --snackbar-content-shadow: 0 -2px 5px rgba(0,0,0,.1);
  --snackbar-title-text-color: #07b1ff;
  --snackbar-font-bg-color: rgba(255,255,255,0.05);
  --sidebar-link-color: #f0f6fc;
  --sidebar-link-active-color: #03a9f4;
  --sidebar-link-hover-bg-color: rgba(0,0,0,0.1);
  --sidebar-bg-color: #12171e;
  --sidebar-border-color: #0d1016; }

/* line 98, main.scss */
html, body {
  background-color: var(--bg-color);
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-family: RobotoDraft, Roboto, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased; }

/* line 111, main.scss */
*, *:before, *:after {
  box-sizing: border-box; }

/* line 115, main.scss */
* {
  font-family: RobotoDraft, Roboto, sans-serif; }

/* line 119, main.scss */
a {
  color: var(--link-color);
  text-decoration: none; }
  /* line 122, main.scss */
  a:hover {
    text-decoration: underline; }
  /* line 125, main.scss */
  a, a:hover {
    outline: 0; }

/* line 130, main.scss */
#head-panel h1, #head-panel .repo-link {
  font-family: 'Rubik', sans-serif; }

/* line 134, main.scss */
#head-panel {
  background-color: var(--head-bg-panel);
  padding: 14px 0 9px;
  overflow: hidden; }
  /* line 138, main.scss */
  #head-panel h1 {
    color: var(--head-text-color);
    font-size: 33px;
    font-weight: normal;
    line-height: 37px;
    margin: 0px;
    display: inline-block; }
    /* line 145, main.scss */
    #head-panel h1:after {
      letter-spacing: 0.5em;
      content: "\00a0"; }
  /* line 150, main.scss */
  #head-panel .logo {
    width: 40px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 14px; }
  /* line 156, main.scss */
  #head-panel .buttons {
    display: inline-block;
    color: transparent; }
  /* line 160, main.scss */
  #head-panel .repo-link {
    color: var(--head-text-color);
    font-size: 15px;
    margin-left: 54px;
    text-decoration: none; }
    /* line 165, main.scss */
    #head-panel .repo-link:hover {
      text-decoration: underline; }

@media (max-width: 768px) {
  /* line 173, main.scss */
  #head-panel h1 {
    display: block;
    white-space: nowrap;
    overflow: visible;
    font-size: 30px;
    margin: 0 0 7px; }
  /* line 180, main.scss */
  #head-panel .buttons {
    margin-right: 5px; }
  /* line 183, main.scss */
  #head-panel .repo-link-wrap {
    display: inline-block;
    vertical-align: top; }
    /* line 186, main.scss */
    #head-panel .repo-link-wrap .repo-link {
      margin-left: 0; } }
/* line 193, main.scss */
.container {
  width: 100%;
  padding: 0 var(--container-padding);
  height: 100%; }

/* line 199, main.scss */
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -120px;
  padding: 0 0 160px; }

/* line 206, main.scss */
.content {
  margin: 100px 0 40px; }
  /* line 208, main.scss */
  .content p {
    line-height: var(--content-line-height);
    font-size: var(--content-font-size);
    margin-top: 2px;
    margin-bottom: 10px; }
  /* line 214, main.scss */
  .content code {
    padding: 0.2em 0;
    margin: 0;
    font-size: 85%;
    background-color: var(--code-bg-color);
    color: var(--code-text-color);
    border-radius: 3px; }
    /* line 221, main.scss */
    .content code:before, .content code:after {
      letter-spacing: -0.2em;
      content: "\00a0"; }

/* line 228, main.scss */
.clear-icon {
  cursor: pointer; }

@media (max-width: 768px) {
  /* line 233, main.scss */
  .clear-icon {
    margin: -10px !important;
    padding: 10px !important;
    box-sizing: content-box !important; } }
/* line 240, main.scss */
#search-panel {
  height: 64px;
  width: 100%;
  background-color: var(--search-panel-bg-color);
  box-shadow: var(--search-panel-shadow);
  position: absolute;
  z-index: 7; }
  /* line 247, main.scss */
  #search-panel.top-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--search-panel-shadow-fixed); }
  /* line 254, main.scss */
  #search-panel .container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%; }
  /* line 266, main.scss */
  #search-panel .search-icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    fill: currentcolor;
    position: relative;
    opacity: 0.5; }
    /* line 273, main.scss */
    #search-panel .search-icon, #search-panel .search-icon .mdi {
      height: 24px;
      width: 24px;
      font-size: 24px; }
    /* line 278, main.scss */
    #search-panel .search-icon.search-magnify {
      pointer-events: none;
      position: absolute;
      margin-left: 10px; }
    /* line 284, main.scss */
    #search-panel .search-icon.clear-icon:hover {
      opacity: 1; }
  /* line 289, main.scss */
  #search-panel #search {
    background-color: var(--search-panel-bg-color);
    color: var(--search-text-color);
    font-size: 20px;
    padding: 8px 0 8px 54px;
    width: auto;
    border: none;
    outline: none;
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px; }

/* line 305, main.scss */
#grid-container {
  padding: 0 0 70px;
  min-height: 900px;
  margin-top: var(--grid-container-margin); }
  /* line 309, main.scss */
  #grid-container .grid {
    margin: var(--grid-block-margin) calc(-1 * var(--grid-item-margin)) 0 calc(-1 * var(--grid-item-margin)); }
    /* line 311, main.scss */
    #grid-container .grid:after {
      clear: both;
      display: table;
      content: " "; }
  /* line 317, main.scss */
  #grid-container:after {
    clear: both;
    display: table;
    content: " "; }
  /* line 322, main.scss */
  #grid-container h2 {
    color: var(--grid-header-text-color);
    font-size: 16px;
    font-weight: normal;
    display: block;
    padding: var(--grid-container-margin) 0 0;
    margin: 10px 0;
    position: relative; }
    /* line 330, main.scss */
    #grid-container h2:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border-top: var(--grid-border-top); }
  /* line 340, main.scss */
  #grid-container .no-results {
    text-align: center;
    color: var(--no-result-text-color);
    font-size: 24px;
    padding: 150px 0; }
  /* line 346, main.scss */
  #grid-container .item-container {
    display: block;
    width: var(--grid-item-width);
    height: 110px;
    margin: 0 var(--grid-item-margin) var(--grid-item-margin-bottom);
    padding: 15px 0 0;
    cursor: pointer;
    background: transparent;
    float: left;
    transition: background 200ms ease-out;
    border-radius: 2px;
    border: var(--item-border); }
    /* line 358, main.scss */
    #grid-container .item-container:hover {
      background: var(--item-bg-hover);
      border: var(--item-border-hover); }
    /* line 362, main.scss */
    #grid-container .item-container.selected {
      background: var(--item-bg-active);
      border: var(--item-border-active); }
    /* line 366, main.scss */
    #grid-container .item-container .item {
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      position: relative; }
      /* line 377, main.scss */
      #grid-container .item-container .item .item-badge {
        position: absolute;
        right: 8px;
        top: -12px;
        padding: 2px 3px;
        border-radius: 2px;
        background: var(--item-badge-bg-color);
        color: var(--item-badge-text-color);
        font-size: 10px;
        font-weight: 500; }
      /* line 388, main.scss */
      #grid-container .item-container .item > i {
        font-size: 48px;
        width: 48px;
        height: 48px;
        color: var(--item-icon-color); }
      /* line 394, main.scss */
      #grid-container .item-container .item .caption {
        color: var(--item-text-color);
        font-size: 11px;
        margin-top: 16px;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
        width: calc(var(--grid-item-width) - var(--grid-item-padding) * 2);
        z-index: 1; }
        /* line 405, main.scss */
        #grid-container .item-container .item .caption > i {
          position: relative;
          z-index: 1;
          color: var(--item-search-match-text-color);
          background: var(--item-search-match-bg-color);
          padding: 0 1px;
          font-size: 11px;
          margin: 0px -2px;
          line-height: 11px;
          border-radius: 2px;
          border: 1px solid var(--item-search-match-bg-color);
          display: inline;
          font-style: normal; }
        /* line 419, main.scss */
        #grid-container .item-container .item .caption > span {
          position: relative;
          z-index: 2;
          display: inline; }

/* line 429, main.scss */
#snackbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5; }
  /* line 435, main.scss */
  #snackbar .snackbar-header {
    color: var(--snackbar-header-text-color);
    height: 64px;
    background-color: var(--snackbar-header-bg-color);
    padding: 19px var(--container-padding) 20px;
    line-height: 26px;
    overflow: hidden; }
    /* line 442, main.scss */
    #snackbar .snackbar-header .left-side i {
      width: 24px;
      height: 24px;
      font-size: 24px;
      float: left; }
    /* line 448, main.scss */
    #snackbar .snackbar-header .caption {
      font-size: 16px;
      margin-left: 15px; }
    /* line 454, main.scss */
    #snackbar .snackbar-header .right-side .mdi {
      font-size: 22px;
      margin-top: 1px; }
    /* line 458, main.scss */
    #snackbar .snackbar-header .right-side .caption {
      font-weight: 500;
      margin-left: 10px;
      text-transform: uppercase;
      font-size: 14px; }
  /* line 466, main.scss */
  #snackbar .clear-icon {
    float: right !important;
    margin-left: 10px; }
  /* line 470, main.scss */
  #snackbar p, #snackbar p a, #snackbar .code, #snackbar .font {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    line-height: 24px;
    background-color: var(--snackbar-body-bg-color); }
  /* line 476, main.scss */
  #snackbar .font {
    background-color: var(--snackbar-font-bg-color);
    padding: 2px 4px;
    border-radius: 3px; }
  /* line 481, main.scss */
  #snackbar .code {
    color: var(--snackbar-code-text-color);
    border: 0;
    cursor: default;
    display: block;
    outline: none;
    padding: 0;
    height: 24px;
    resize: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden; }
    /* line 493, main.scss */
    #snackbar .code.comment {
      opacity: 0.5; }
  /* line 497, main.scss */
  #snackbar .snackbar-content {
    background-color: var(--snackbar-body-bg-color);
    padding: var(--snackbar-content-padding) var(--container-padding);
    overflow: hidden;
    -webkit-transition: -webkit-transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: var(--snackbar-content-shadow); }
    /* line 504, main.scss */
    #snackbar .snackbar-content h2, #snackbar .snackbar-content p {
      font-size: 13px;
      line-height: 24px;
      font-family: 'Roboto Mono', monospace; }
    /* line 509, main.scss */
    #snackbar .snackbar-content h2 {
      color: var(--snackbar-title-text-color);
      display: inline-block;
      font-weight: 500;
      margin: 0; }
    /* line 515, main.scss */
    #snackbar .snackbar-content p {
      margin: 0;
      color: var(--snackbar-comment-text-color); }
    /* line 519, main.scss */
    #snackbar .snackbar-content .col {
      margin: 16px 0; }
  /* line 523, main.scss */
  #snackbar .snackbar-header, #snackbar .snackbar-content {
    margin: 0 calc(-1 * var(--container-padding)) 0; }

/* line 528, main.scss */
#footer {
  background: var(--footer-bg-color);
  padding: 20px 0;
  min-height: 120px; }

/* line 534, main.scss */
#sidebar {
  display: none;
  width: 250px;
  background: var(--sidebar-bg-color);
  position: absolute;
  height: 100%;
  overflow: auto;
  z-index: 2;
  right: 0;
  border-left: 1px solid var(--sidebar-border-color);
  margin-top: 64px;
  font-size: 14px;
  padding-bottom: 100%;
  box-sizing: content-box; }
  /* line 549, main.scss */
  #sidebar .sidebar-block {
    margin: 24px 0;
    border-bottom: 1px solid var(--sidebar-border-color);
    padding-bottom: 8px; }
    /* line 553, main.scss */
    #sidebar .sidebar-block > h4 {
      padding: 0 24px;
      margin-bottom: 8px;
      text-transform: uppercase;
      font-size: 11px;
      color: #999; }
  /* line 561, main.scss */
  #sidebar ul {
    display: block;
    padding: 4px 0;
    margin: 0;
    list-style: none; }
    /* line 566, main.scss */
    #sidebar ul li {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding: 12px 24px;
      line-height: 24px;
      margin: 0;
      color: var(--sidebar-link-color);
      fill: var(--sidebar-link-color);
      cursor: pointer; }
      /* line 576, main.scss */
      #sidebar ul li .label {
        margin-left: 10px; }
      /* line 579, main.scss */
      #sidebar ul li .icon {
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        font-size: 23px; }
      /* line 586, main.scss */
      #sidebar ul li:hover, #sidebar ul li.active {
        background: var(--sidebar-link-hover-bg-color); }
      /* line 589, main.scss */
      #sidebar ul li.active {
        color: var(--sidebar-link-active-color);
        fill: var(--sidebar-link-active-color); }

/* line 597, main.scss */
.top-fixed + #sidebar {
  position: fixed;
  top: 0; }

@media (min-width: 768px) {
  /* line 603, main.scss */
  #sidebar {
    display: block; }

  /* line 607, main.scss */
  #sidebar + .container {
    width: calc(100% - 250px);
    margin-right: 250px;
    padding-right: calc(var(--container-padding) / 2); }
    /* line 614, main.scss */
    #sidebar + .container #grid-container h2:before {
      right: calc(var(--container-padding) / 2); } }
@media (max-width: 767px) {
  /* line 623, main.scss */
  .hide-mobile {
    display: none !important; } }
@media (max-width: 606px) {
  /* line 629, main.scss */
  .grid {
    display: block; }
    /* line 631, main.scss */
    .grid .item-container {
      display: block;
      overflow: hidden; } }
@media (min-width: 576px) and (max-width: 606px) {
  /* line 640, main.scss */
  .grid .item-container {
    width: 20% !important;
    max-width: 20%; } }
@media (min-width: 500px) and (max-width: 575px) {
  /* line 649, main.scss */
  .grid .item-container {
    width: 25% !important;
    max-width: 25%; } }
@media (max-width: 499px) {
  /* line 658, main.scss */
  .grid .item-container {
    width: 33% !important;
    max-width: 33%; } }
@media (min-width: 768px) {
  /* line 666, main.scss */
  .flex-snackbar {
    flex-direction: row;
    display: flex; }

  /* line 670, main.scss */
  .col {
    width: 50%; }

  /* line 673, main.scss */
  .container {
    margin: 0 auto; }

  /* line 676, main.scss */
  .snackbar-header, .snackbar-content {
    margin: 0 -10px 0; }
    /* line 679, main.scss */
    .snackbar-header .col:first-child p, .snackbar-content .col:first-child p {
      max-width: 510px;
      padding-right: 30px; } }
/* line 687, main.scss */
.uppercase {
  text-transform: uppercase; }

/* line 691, main.scss */
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important; }

/* line 696, main.scss */
.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important; }

/* line 701, main.scss */
.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important; }
